body {
    background-image: url("../images/booksBg.jpg");
}



.divBg {
    width: 70%;
    position: relative;
    left: 15%;
    background: rgba(225,198,153,0.75);
    color: black;
    font-size: 1.75em;
}

.divMap{
    position:relative;
    width: 45%;
    height: 45%;
   

}
