body {
    height: 100%;
    width: 99%;
    background-image: url("../images/booksBg.jpg");
 
}



ul {
    list-style-type: none;
    overflow: hidden;
    background: rgba(225,198,153,0.75);
    width: 95%;
    display: inline-block;
}

li {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    padding: 25px 50px 25px 50px;
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: lightcoral;
    }


.divBg {
    width: 70%;
    position: relative;
    left: 15%;
    background: rgba(225,198,153,0.75);
    color: black;
    font-size: 1.75em;
    font-weight: bold;

}

.divText{
    top:5em;
}

#divSr {
    position:relative;
    margin-top: 1%;
    margin-left: 1%;
    width: 97%;
    height: 3em;
    font-size: 0.75em;
  
}


#search{
    width: 80%;
    height: 100%;
    font-size:1em;
}

#divSrB {
    position:relative;
    top: -110%;
    float: right;
    width: 20%;
    height: 160%;
   
}

.butt1{
   width:48%;
   height:69%;

}

.butt2 {
    position:relative;
    left: 7.6em;
    top: -5.27em;
    width: 8.8em;
    height: 5.3em;
}


.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all;
        float: left;
    }

        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
        }

            .MultiCarousel .MultiCarousel-inner .item > div {
                text-align: center;
                padding: 10px;
                margin: 10px;
                background: #f1f1f1;
                color: #666;
            }

    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position: absolute;
        border-radius: 50%;
        top: calc(50% - 20px);
    }

    .MultiCarousel .leftLst {
        left: 0;
    }

    .MultiCarousel .rightLst {
        right: 0;
    }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none;
            background: #ccc;
        }