.genre-image{
    height:40px;
    width:40px;
}

.latest-additions-image{
    height:90px;
    width:60px;
    margin-right:20px;
    display:inline-block;
}

.homeContent {
    padding: 20px;
    margin: 18px, 0, 18px, 0;
    background: rgba(186, 186, 186, 0.5);
    
}