@model Olympia_Library.Models.HomeModel.HomeIndexModel 

@{
    ViewData["Title"] = "Home Page";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<head>


    <title></title>
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/indexStyle.css")" />*@


</head>




    @*<div class="divBg">
        Citim împreună.
        Rămânem împreună.
        Stăm acasă!
        Biblioteca Județeană „[Adauga numele bibliotecii aici cand te hotarasti]” implementează, de-a lungul perioadei
        speciale în care ne aflăm, proiectul „Citim împreună. Rămânem împreună. Stăm acasă!”.
        Fiind vorba despre un program cu multiple activități și ramificații, proiectul se vrea
        o alternativă exclusiv online la programele educaționale de care, în număr mare, se bucură
        un număr consistent de utilizatori. Ne dorim ca, împreună cu stakeholderii noștri,
        să desfășurăm o serie de activități interactive pentru cititorii care, în vremuri normale,
        frecventează biblioteca în număr mare.
    </div>*@


