@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

     if (ViewData["Message"] == "1") @Html.Raw("<p style=\"color:green\">Book added </p>"); 
     if (ViewData["Message"] == "0") @Html.Raw("<p style=\"color:red\">Book could not be added</p>"); 


}
